.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    justify-content: center;
    align-items: center;
  
    .image-container {
      position: relative;
      width: 100%; // Ensure image containers occupy full width
      padding-top: 100%; // Set padding-bottom to create a square aspect ratio
      
  
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; // Image should always fill the box
        border: 5px solid white;
        box-sizing: border-box;
      }
  
    }
  
    input[type="checkbox"] {
      display: none;
  
      &:checked + label img {
        border: 5px solid red;
      }
    }
  }
  
  body {
    background-color: gainsboro;
  }
  